h1, h2 {
    color: rgb(250, 237, 139);
    font-weight: bold;
}

#header-img {
    border: 7px solid white;
    border-radius: 500px;
    margin-top: 40px;
    padding: 0;
    position: absolute;
    right: 20px;
}

#header-info-outer-container {
    margin-top: 75px;
}

.header-top-bar {
    background-color: rgb(116, 202, 255);
    height: 220px;
}

.header-title {
    padding-top: 5px;
}

